
/*doc
---
title: Responsive Image
category: Global - Extends
---
%responsive-image

````html_example
<div style="width: 350px; float: left;">
    <p>With Responsive Image</p>
    <div style="border: 1px solid #888">
        <img class="responsive-image" src="http://placekitten.com/g/300/200">
    </div>
    </div>
    <div style="width: 350px; float: right;">
    <p>Without Responsive Image</p>
    <div style="border: 1px solid #888">
    <img src="http://placekitten.com/g/300/200">
    </div>
</div>
````
*/

.responsive-image,
%responsive-image { 
    display: block;
    width: 100%;
    height: auto;
}

/*doc
---
title: Italic Copy
category: Global - Extends
---


````html_example
<div class="italic-copy">This is Italic Copy</div>
````
*/

%italic-copy, 
.italic-copy {
    font-style: oblique;
    font-style: italic;
}

/*doc
---
title: Small Copy
category: Global - Extends
---
%small-copy

````html_example
<div class="small-copy">This is Small Copy</div>
````
*/


%small-copy, 
.small-copy {
    font-size: 11px;
    color: color(gray);
}

/*doc
---
title: Author Copy
category: Global - Extends
---
%author-copy


```html_example
by <span class="author"><a href=''>Luke Thomas Mergner</a>, <a href=''>Peter Sinnott</a>, Jr. & Dummy McStupid</span>
```
*/

%author-copy, 
.author {
    @include set-font(serif, $color: black);
    a {
        @include unstyled-link;
    }
}


/*doc
---
title: Time Copy
category: Global - Extends
---
%datetime

```html_example
<time class='datetime' datetime="2001-05-15 19:00">May 15</time>
```
*/

.datetime,
%datetime {
    @include set-font(serif, delta, gray);
}


/*doc 
---
title: Accent Copy
category: Global - Extends
---

%accent

```html_example
<p>This is a <span class='accent'>paragraph</span> with an accented word.</p>
```
*/

%accent-copy,
.accent { 
    color: color(primary);
}


%bold-copy,
strong,
b,
.strong {
    font-weight: 700;
    font-weight: bold;
}

