/*doc
---
title: Paragraph
category: Global - Mixins
---

@include paragraph-styles($size: delta);

*/

@mixin paragraph-styles($size: delta) {
    & > p {
        @include adjust-font-size-to(font-size($size));
        @include trailer;
        font-family: map-get($font-families, serif);
        color: color(black);
        text-align: left;
    }
}


@mixin background-opacity($color, $opacity: 0.6) {
    background-color: color($color); /* The Fallback */
    background-color: rgba(color($color), $opacity);
}

@mixin background-transition($color) {
    @include background-opacity($color);
    &:hover {
        background-color: color($color);
        @include single-transition('background-color', 1s, ease-out);
    }
}


/*doc
---
title: make-button
category: Global - Mixins
---

@mixin make-button

-    __$btn-color__ - sets background color
-    __$btn-text-color: white__ - sets text color
-    __$disabled: false__ - if set to 'true' removes hover effect and sets pointer to default

credits: [Micah Godbolt](https://github.com/micahgodbolt/sassbitesdemo/blob/master/sass/global/_mixins.scss)

````
.class_name {
  @include make-button(color(brand-primary));
}
````

*/

@mixin make-button($btn-color, $btn-text-color: white) {
    @include align-items(center);
    // @include background-transition($btn-color);
    @include border-radius(2px);
    @include set-font(title, $color: $btn-text-color);
    background-color: color($btn-color);
    display: inline-block;
    
    border: none; // fixes elements with a border set
    // font-size: pem(16);
    padding: 0.75em;
    // font-weight: bold;
    text-decoration: none;

    a {
        @include unstyled-link;
        color: $btn-text-color;
    }
}

