/*doc
---
title: Pages
category: Layout - Pages
---

Pages encapsulate a view or endpoint such as main-page, archive-page, article-page.

For article styles, see `.article-body`

*/

%page {
    @include breakpoint(map-get($breakpoints, window)) {
        @include span(9);
    }
    .block:last-child {
        border: none;
    }
}

.main-page,
.archive-page {
    @include breakpoint(map-get($breakpoints, window)) {
        @include span(9);
    }
    .block:last-child {
        border: none;
    }
}

.support-page {}

.masthead-page {}

.issues-page {}
