/*doc
---
title: Navigation
category: Layout - Navbar
name: layout-navbar
---

```html_example
<nav class="nav header-nav" >
    <ul role='menubar'>
        <li class="nav-item__link" role='menuitem'><a href="#">Articles</a></li>
        <li class="nav-item__link" role='menuitem'><a href="#">Reviews</a></li>
        <li class="nav-item__link" role='menuitem'><a href="#">Support</a></li> 
        <li class="nav-item__link" role='menuitem'><a href="#">Masthead</a></li>
        <li class="nav-item__search" role='menuitem'><a href="#"><i class="fa fa-search"></i></a></li>
        <li class="nav-item__twitter" role='menuitem'><a href="#"><i class="fa fa-twitter-square"></i></a></li>
    </ul>
</nav>

```

*/
