/*doc
---
title: Pages
category: Layout - Pages
---

Pages encapsulate a view or endpoint such as main-page, archive-page, article-page.

For article styles, see `.article-body`

*/


// $module-pages defined in global/_variables 


%page, 
#content,
.page {
    @include full;
    @include breakpoint(map-get($breakpoints, tablet)) {
    }
    @include breakpoint(map-get($breakpoints, window)) {
        @include span(map-get($susy, columns) - $sidebar-col-width first);
        @include leader;
    }
    // Markdown Styles
}

@each $page in $module-pages {
    .#{$page}-page {
        @extend %page;
    }
}

.article-page {
    @include full;
    article {
        max-width: $article-page-width;
        margin: 0 auto;
    }
}


