
/*doc
---
title: Aside
category: Layout - Articles
name: layout-article-aside
---

Article aside contains meta-information about the article and sharing tools.

```html_example
<div class='content' style='min-height: 400px'>

<aside class="article-aside" data-eq-pts='stack: 0px, inline: 400px'>
    <div class='aside-header menu-toggle'><i class='fa fa-bars'></i></div>
    <ul class='article-aside-navbar'>
        <li><a href=""><i class='fa fa-twitter'></i></a></li>
        <li><a href=""><i class='fa fa-facebook'></i></a></li>
        <li><a href=''>Instapaper</a></li>
        <li class='has-submenu'><a href=''>Issue<span class='carat'></span></a>
            <ul class='submenu'>
                <li><a href=''>The Essayist and the Intellectual</a> </li> 
                <li><a href="">On the Intellectual Question</a> </li>
                <li><a href="">Further Reading</a> </li>
            </ul>
        </li>
        <li class='has-submenu'>Responses
            <ul class='submenu'>
                <li><a href="">Another Response to Kovanda</a></li>
            </ul>
        </li>
        <li class='has-submenu'>Respondees
            <ul class='submenu'>
                <li><a href=''>Dummy title</a></li>
                <li><a href=''>Another Respondee</a></li>
            </ul>
        </li>
    </ul>
</aside>
</div>
```
*/

.article-aside .fa-bars {
    font-size: 2em;
    color: color(gray);
    &:active, &:hover { color: color(black); }
}

.article-aside {
    @extend %bleeding;
    @include adjust-font-size-to(font-size(delta));
    background-color: color(secondary);
    font-family: map-get($font-families, serif);
    border-bottom: 2px solid color(gray);
    a { @include unstyled-link; }

    ul { 
        text-align: center;
        width: 100%;
        li { 
            margin: 2px 0;
            padding: 5px;
            background-color: color(secondary);

            &:hover {
                background-color: darken(color(secondary), 25%);
                @include single-transition('background-color', 1s, ease-out);
            } 
        }
    }

    @include eq('stack') {
        ul > li { 
            display: block; 
        }
    }

    @include eq('inline') {
        ul {
            text-align: center;
            li { 
            display: inline-block; 
            }
        }

        .submenu {
            position: absolute;
            text-align: center;
            left: 0;

            li {
                display: block;
                text-align: center;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;

            }
        }
    }
}


        
    // }

    // .submenu {
    //     // display: block;
    //     // z-index: 1000;
    //     left: 0;
    //     // float: left;
    //     width: 100%;
    //     text-align: center;
    //     // border-radius: 2px;
    //     // @include box-shadow;
    //     // background-clip: padding-box;
    //     background-color: color(secondary);
    //     // @include clearfix;
    //     > ul {

    //     }
    //     > li {
    //         border-bottom: 1px solid color(gray);
    //         display: block;

    //     }
    //     > li > a {
    //         display: block;
    //         // padding: 3px 20px;
    //         @include clearfix;
    //         // font-weight: normal;
    //         // line-height: 25;

    //         white-space: nowrap; // prevent links from randomly breaking onto new lines
    //     }



