
b, 
.strong {
    font-weight: bold;
    font-weight: 700;
}

i,
em,
.italics { 
  font-style : oblique;
  font-style: italics; 
}

html {
    @include box-sizing('border-box');
    @each $k, $v in $base-font {
        $k: $v;
    }
    @for $num from 1 through 5 {
        h#{$num} {
            $key: nth(map-keys($font-sizes), $num);
            @include title($key);
            @include trailer;
        }
    }   
}


/*doc 
---
title: Links
category: Base
---
```html_example
<a href='#Link'>A Link</a>
```
*/


//  sass/global/_variables.scss  
//  $link-colors for definition
a {
    color: map-get($link-colors, normal);
    &:visited { color: map-get($link-colors, visited); }
    &:focus { color: map-get($link-colors, focus); }
    &:hover { color: map-get($link-colors, hover); }
    &:active { color: map-get($link-colors, active); }
}

// Don't show figcaptions created by Markdown formated image links
figcaption { 
  display: none;
}

// hide things by class name
.hidden {
  display: none;
}
